<div id="cargo" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/cargo.less</em>, <em>assets/js/pages/cargo.page.js</em>, and <em>api/controllers/view-cargo.js</em>.)</p>

  

</div>

<% _.each(cargos, function (cargo) { %>
  <li><%=cargo.nome%></li>
<% }) %>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
