<div id="custo" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/custo.less</em>, <em>assets/js/pages/custo.page.js</em>, and <em>api/controllers/view-custo.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
