<div id="listar-servidores" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/listarServidores.less</em>, <em>assets/js/pages/listarServidores.page.js</em>, and <em>api/controllers/view-listar-servidores.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
