<div id="secretaria" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/secretaria.less</em>, <em>assets/js/pages/secretaria.page.js</em>, and <em>api/controllers/view-secretaria.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
