<div id="servidor" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/servidor.less</em>, <em>assets/js/pages/servidor.page.js</em>, and <em>api/controllers/view-servidor.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
