<div id="servidor" v-cloak>

  <h1>Cadastro do Servido</h1>
  Matricula<input type = "text"> <br>
  Nome Completo <input type="text"> <br>
  Data de Nascimento <input type = "text"> <br>
  Cargo <select></select>


  <p>(See also <em>assets/styles/pages/servidor.less</em>, <em>assets/js/pages/servidor.page.js</em>, and <em>api/controllers/view-servidor.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
