<div id="edit-password" v-cloak>
  <div class="container">
    <h1>Alterar Senha</h1>
    <hr/>
    <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Nova Senha</label>
            <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
            <div class="invalid-feedback" v-if="formErrors.password">Digite a nova senha ou clique em "Cancelar".</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="confirm-password">Confirmar Senha</label>
            <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" autocomplete="new-password" placeholder="••••••••">
            <div class="invalid-feedback" v-if="formErrors.confirmPassword">A senha não confere.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError">Erro na solicitação. Por favor verifique as informações e tente novamente, or <a href="/contact">entre em coontato</a> se o erro persistir .</p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancelar</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Salvar</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
